In [1]:
#Introduction to Geopandas
#GeoSeries and GeoDataframe
# Geoseries
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame
from shapely.geometry import Point

places = GeoSeries([
    Point(1, 2), # House
    Point(2, 3), # School
    Point(3, 4) # A park
])

print(places)

0    POINT (1 2)
1    POINT (2 3)
2    POINT (3 4)
dtype: geometry

In [2]:
import pandas as pd

# GeoDataframe
gdf = GeoDataFrame({
    "name": ["My House", "My School", "The park"],
    "type": ["House","School", "Park"],
    "geometry": places
})

gdf

        name    type     geometry
0   My House   House  POINT (1 2)
1  My School  School  POINT (2 3)
2   The park    Park  POINT (3 4)